body,
html {
	margin: 0;
	padding: 0;
}

.newmsg {
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 100;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #5d1e5d;
	height: 5rem;
}

.newmsg button {
	display: none;
}

.info {
	color: rgba(255, 255, 255, 0.3);
	margin: 0.3rem 1rem;
}

.info span {
	margin-right: 1rem;
}

.entry {
	width: calc(100% - 2px - 2rem - 20px);
	margin: 0 1rem;
	padding: 10px;
	border: 1px solid purple;
	font-size: 1rem;
	border-radius: 3px;
	display: block;
}
.entry:focus {
	outline: 0;
}

.edit-name {
	background: transparent;
	border: 0;
	color: #fff;
}

.chat {
	font-family: monospace;
	width: calc(100% - 4px);
	height: calc(100% - 5rem - 4px);
	position: absolute;
	left: 0;
	top: 0;
	overflow-y: auto;
	padding: 2px;
}

.line {
	line-height: 1rem;
}
.time,
.who {
	color: rgba(0, 0, 0, 0.5);
}

.enter-key {
	/*background: #000;*/
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}
.enter-key img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 500px;
	display: block;
}

.key {
	margin: 0.5rem auto;
	width: calc(100% - 1rem);
	text-align: center;
	font-size: 5rem;
	display: block;
	background: transparent;
	border: 0;
	outline-color: green;
	color: green;
}
